extends layout

block content
    .container
        .row(ng-controller="StatusController as sc")
            .col-md-3
                ul.list-group
                    li.list-group-item
                        | Height
                        span.badge
                            | {{ sc.statusData.height }}
            .col-md-3
                ul.list-group
                    li.list-group-item
                        | Battery
                        span.badge
                            | {{ sc.statusData.battery }}
            .col-md-3
                ul.list-group
                    li.list-group-item
                        | Status
                        span.badge
                            | {{ sc.statusData.state }}
            .col-md-3
                ul.list-group
                    li.list-group-item.battery-low(ng-show="sc.statusData.lowBattery")
                        | LOW BATTERY
                    li.list-group-item.battery-ok(ng-hide="sc.statusData.lowBattery")
                        | OK

        .row
            .col-md-9
                .row.stream(ng-controller="VideoController as vc")
                    #droneStream
                .row.feedback
                    .status(ng-controller="ResponseController as rc")
                        p(ng-repeat="response in rc.data | reverse")
                            | {{ response.status }}: {{ response.command }}

            .col-md-3.buttons(ng-controller="CommandController as cc")
                .row(ng-repeat="row in cc.rows" ng-class="row.rowClass")
                    .btn-group
                        .button(ng-repeat="button in row.buttons" control-button name="{{ button.name }}" command-name="{{ button.commandName }}" button-class="{{ button.buttonClass }}" send-command="cc.sendCommand(cmd)")

    script(type='text/javascript' src='/js/angular.min.js')
    script(type='text/javascript' src='/js/app.js')