#header {
    background: no-repeat url("../img/logo.png") right 0 top 0;
    padding: 0;
    margin: 0 0 10px;
    height: 75px;
}

#header h1 {
    padding: 10px;
    margin: 0;
}

#menu {
    float: right;
    width: 200px;
}

#content {
    padding-left: 50px;
}

.buttons .btn {
    width: 125px;
}

.buttons .wide .btn-danger,
.buttons .wide .btn-primary {
    width: 250px;
}

.buttons .row {
    margin-bottom: 5px;
}

.feedback {
    overflow: hidden;
}

.status {
    height: 100px;
    overflow-y: scroll;
}

.battery-ok {
    background-color: lawngreen;
}

.battery-low {
    background-color: red;
}

li.battery-low {
    color: white;
    font-weight: bold;
}

div.buttons {
    text-align: center;
}

div.stream {
    text-align: center;
}